*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sudo{
    c1:#dbdbdb;
    c2:#f0a500;
    c3:#cf7500;
    c4:#000000;
}

header{
    height: 100vh;
    background-color: #000000;
    background-image: url(../img/bg_head.jpg);
    background-size: cover;
    background-position: center;
}

.head-text{
    color:#f0a500;
    position: absolute;
    top: 30%;
    margin-left: 50%;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;

}

.head-text h1{
    font-size: 5rem;
}
.head-text h2{
    font-size: 3rem;
}
